.App {
  pointer-events: none;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  opacity: 0.8;
  z-index: -1;
  pointer-events: auto;
}

.styled-rectangle-other {
  fill: red; /* Set the fill color to red */
  stroke: grey; /* Set the border color to grey */
  stroke-width: 2px; /* Set the border width to 2 pixels */
}
.styled-rectangle-yourself {
  fill: green; /* Set the fill color to red */
  stroke: grey; /* Set the border color to grey */
  stroke-width: 2px; /* Set the border width to 2 pixels */
}
.styled-rectangle-unowned {
  opacity: 0.2;
  fill: grey; /* Set the fill color to red */
  stroke: grey; /* Set the border color to grey */
  stroke-width: 2px; /* Set the border width to 2 pixels */
}