.App {
  /* pointer-events: none; */
}

html body {
  position: static !important;
  background: rgb(218,211,211);
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  opacity: 0.8;
  z-index: -1;
  pointer-events: auto;
}

.styled-rectangle-other {
  fill: rgb(217,75,91);
  stroke: grey; /* Set the border color to grey */
  stroke-width: 2px; /* Set the border width to 2 pixels */
}
.styled-rectangle-yourself {
  fill: rgb(117,209,54); /* Set the fill color to red */
  stroke: grey; /* Set the border color to grey */
  stroke-width: 2px; /* Set the border width to 2 pixels */
}
.styled-rectangle-unowned {
  opacity: 0.1;
  fill: grey; /* Set the fill color to red */
  stroke: grey; /* Set the border color to grey */
  stroke-width: 2px; /* Set the border width to 2 pixels */
}

.loading-container {
  margin:auto;
}
.loading-container p {
  text-align: center;
}